name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - "docs/content/**"
      - ".github/workflows/docs.yml"
      - "docs/zensical.toml"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-22.04

    steps:
      - name: Configure Pages
        uses: actions/configure-pages@v5

      - name: Checkout 
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install zensical

      - name: Build Documentation
        run: zensical build --clean --config-file docs/zensical.toml

      - name: Upload Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ github.workspace }}/docs/site

      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4